:root {
    --transparency: 0.85;
}

main {
    background-image: linear-gradient(to right top, rgba(53, 35, 116, var(--transparency)), rgba(52, 73, 155, var(--transparency)), rgba(49, 111, 192, var(--transparency)), rgba(50, 149, 225, var(--transparency)), rgba(66, 188, 255, var(--transparency))), url("../../Assets/desk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-container {
    margin-top: 6rem;
    width: 27rem;
    display: flex;
    flex-wrap: wrap;
}

.article-container h1 {
    color: white;
    font-size: 2rem;
    font-weight: 100;
}

.hero-paragraph {
    color: white;
}

.image {
    width: 280px;
    margin-right: 4rem;
}

img {
    width: 100%;
}

@media screen and (max-width:1200px) {
    .article-container {
        margin-top: 8rem;
        width: 23rem;
        display: flex;
        flex-wrap: wrap;
    }
    .article-container h1 {
        font-size: 1.5rem;
        font-weight: 100;
    }
    .article-container p {
        font-size: 0.8rem;
    }
    .image {
        width: 350px;
        margin-right: -2rem;
    }
    img {
        width: 70%;
    }
}

@media screen and (max-width:1024px) {
    .article-container {
        margin-top: 9rem;
        width: 20rem;
        display: flex;
        flex-wrap: wrap;
    }
    .article-container h1 {
        font-size: 1.5rem;
        font-weight: 100;
    }
    .article-container p {
        font-size: 0.8rem;
    }
    .image {
        width: 350px;
        margin-right: -4rem;
    }
}

@media screen and (max-width:768px) {
    .image {
        display: none;
    }
    .article-container {
        margin: auto;
        width: 70vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .article-container h1 {
        color: white;
        font-size: 2.5rem;
        text-align: center;
    }
    .article-container .hero-paragraph {
        font-size: 1.2rem;
        color: white;
        text-align: center;
    }
}

@media screen and (max-width:480px) {}