.menu-icon .bars {
    fill: white;
    margin-right: 1.5rem;
    font-size: 35px;
    z-index: 1000;
}

.menu-icon-scroll .bars {
    fill: #2a80d6;
}

@media screen and (min-width:769px) {
    .menu-icon {
        display: none;
    }
}