.navbar {
    width: 100vw;
    height: 4rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    overflow-x: visible;
    position: fixed;
}

.navbar-scroll {
    background-color: white;
    overflow-x: visible;
    position: fixed;
}

.navbar-dropped {
    background-color: white;
    overflow-x: visible;
    position: fixed;
}

.menu-button {
    border: none;
    background: none;
    z-index: 1;
}

@media screen and (max-width:1200px) {
    .navbar {
        height: 3rem;
        position: fixed;
    }
}

@media screen and (max-width:1024px) {
    .navbar {
        height: 3rem;
        position: fixed;
    }
}

@media screen and (max-width:768px) {
    .navbar {
        position: fixed;
    }
}

@media screen and (max-width:480px) {
    .navbar {
        position: fixed;
    }
}