.nav-items-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items-container ul {
    list-style: none;
}

.nav-items-container ul * {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.4s;
}

.nav-items-container li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-items-container li:active {
    transform: scale(0.7);
}

.nav-items-container-scroll ul * {
    color: #2a80d6;
}

.nav-items-container-scroll li:hover {
    background-color: rgba(230, 230, 230);
}

@media screen and (max-width:1200px) {
    .nav-items-container ul * {
        font-size: 1rem;
        padding: 0.5rem 0.75rem;
    }
}

@media screen and (max-width:1024px) {
    .nav-items-container ul * {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (max-width:768px) {
    .nav-items-container {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .nav-items-container {
        display: none;
    }
}